name: Emulator Workflow

on:
  schedule:
    - cron: '23 11,23 * * *'
  workflow_dispatch:
    inputs:
      test_mode:
        description: "Test Mode, skip git commit"
        required: false
        type: boolean
        default: false

jobs:
  emulator:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      fail-fast: false
      
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
         
      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: env setup
        run: |
          echo "ANDROID_USER_HOME=$HOME/.android" >> $GITHUB_ENV
          echo "ANDROID_AVD_HOME=$HOME/.android/avd" >> $GITHUB_ENV
          echo "ANDROID_SDK_ROOT=/usr/local/lib/android/sdk" >> $GITHUB_ENV
          echo 'ANDROID_SERIAL=emulator-5566' >> $GITHUB_ENV
          echo 'ANDROID_PF_TOOLS=/usr/local/lib/android/sdk/platform-tools' >> $GITHUB_ENV
          
      - name: SDK Manager Setup
        run: |
          mkdir -p "$ANDROID_SDK_ROOT" || true
          cd "$ANDROID_SDK_ROOT"

          rm -rf cmdline-tools
          sdkDL="$( curl -s https://developer.android.com/studio/index.html | grep 'commandlinetools-linux' | grep '_latest' | grep 'href' | cut -d'"' -f2 )"
          curl -s -o sdkmanager.zip "$sdkDL"
          
          unzip sdkmanager.zip
          rm -f sdkmanager.zip
          cd cmdline-tools
          mkdir latest
          mv -f -t latest bin lib NOTICE.txt source.properties
          
          sdk="${ANDROID_SDK_ROOT}/cmdline-tools/latest/bin/sdkmanager"
          
          yes | "$sdk" --licenses &> /dev/null
          "$sdk" --channel=3 platform-tools emulator 'system-images;android-CANARY;google_apis_ps16k;x86_64'

      - name: Emulator
        run: |
          cd "$ANDROID_USER_HOME"
          
          avd="${ANDROID_SDK_ROOT}/cmdline-tools/latest/bin/avdmanager"
          emulator="${ANDROID_SDK_ROOT}/emulator/emulator"
          PATH="$PATH:${ANDROID_PF_TOOLS}"

          adb devices
          adb kill-server
          adb start-server

          echo no | "$avd" create avd -f -n test -k 'system-images;android-CANARY;google_apis_ps16k;x86_64'
          sed -i 's:^target\s*=.*:target=android-CANARY:g' "$ANDROID_AVD_HOME/test.ini"
          
          coresC="$( nproc )"
          if [[ "$coresC" -gt 8 ]]; then coresC=8; fi
          $emulator @test -no-window -no-audio -no-boot-anim -gpu swiftshader_indirect -read-only -no-snapshot -cores "$coresC" -memory 8192 -port 5566 -no-metrics &
          sleep 120 # secs, startup takes about 2 minutes

      - name: adb or not to b
        run: |
          PATH="$PATH:${ANDROID_PF_TOOLS}"
          cd "$GITHUB_WORKSPACE/emulator"
          
          adb wait-for-device shell "getprop" > canary.new.props
          cat canary.new.props

      - name: Check for update
        run: |
          function getPif() {
            grep -i "$1" canary.new.props | cut -d'[' -f3 | tr -d ']'
          }

          cd "$GITHUB_WORKSPACE/emulator"

          if [[ "$( getPif 'ro.build.fingerprint' )" == "$( grep -i 'FINGERPRINT' canary.pif.prop | cut -d= -f2 )" ]]; then
            echo 'CANARY_UPDATE=0' >> $GITHUB_ENV
          else
            echo 'CANARY_UPDATE=1' >> $GITHUB_ENV
          fi

      - name: Fetch migrate.sh from PIFork ( by osm0sis )
        if: env.CANARY_UPDATE == 1 
        run: |
          curl -s -o emulator/migrate.sh https://raw.githubusercontent.com/osm0sis/PlayIntegrityFork/refs/heads/main/module/migrate.sh
          sudo chmod +x emulator/migrate.sh

      - name: Processing
        if: env.CANARY_UPDATE == 1 
        run: |
          function getPif() {
            grep -i "$1" canary.new.props | cut -d'[' -f3 | tr -d ']'
          }

          cd "$GITHUB_WORKSPACE/emulator"

          cp -f canary.new.props canary.props

          cat <<EOF | tee min.prop;
          MANUFACTURER=Google
          MODEL=$( getPif 'ro.product.model' )
          FINGERPRINT=$( getPif 'ro.build.fingerprint' )
          PRODUCT=$( getPif 'ro.build.product' )
          DEVICE=$( getPif 'ro.product.device' )
          SECURITY_PATCH=$( getPif 'ro.build.version.security_patch' )
          DEVICE_INITIAL_SDK_INT=32
          EOF

          sh migrate.sh -f -a min.prop
          mv -f custom.pif.prop canary.pif.prop
          echo "" >> canary.pif.prop
          echo "# Beta Released: $( date '+%Y-%m-%d' )" >> canary.pif.prop
          echo "# Estimated Expiry: $( date -d @$(( $( date +%s ) + 60 * 60 * 24 * 7 * 6 )) '+%Y-%m-%d' )" >> canary.pif.prop

      - name: Commit new props
        if: env.CANARY_UPDATE == 1 && !inputs.test_mode
        run: |          
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

          git add emulator/canary.pif.prop emulator/canary.props
          git commit -m "New Emulator Canary build"
          git push
          
      - name: Upload a Build Artifact
        if: env.CANARY_UPDATE == 1 
        uses: actions/upload-artifact@v6.0.0
        with:
          compression-level: 9
          name: emulator
          path: emulator/*
