name: Main Workflow

on:
  workflow_dispatch:

jobs:
  canary:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      fail-fast: false
      
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
         
      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: env setup
        run: |
          echo "ANDROID_USER_HOME=$HOME/.android" >> $GITHUB_ENV
          echo "ANDROID_AVD_HOME=$HOME/.android/avd" >> $GITHUB_ENV
          echo "ANDROID_SDK_ROOT=/usr/local/lib/android/sdk" >> $GITHUB_ENV
          echo 'ANDROID_SERIAL=emulator-5566' >> $GITHUB_ENV
          echo 'ANDROID_PF_TOOLS=/usr/local/lib/android/sdk/platform-tools' >> $GITHUB_ENV
          
      - name: SDK Manager Setup
        run: |
          mkdir -p "$ANDROID_SDK_ROOT" || true
          cd "$ANDROID_SDK_ROOT"

          if [[ ! -e "cmdline-tools" || ! -e "cmdline-tools/latest" ]]; then
            sdkDL="$( curl -s https://developer.android.com/studio/index.html | grep 'commandlinetools-linux' | grep '_latest' | grep 'href' | cut -d'"' -f2 )"
            curl -s -o sdkmanager.zip "$sdkDL"
          
            unzip sdkmanager.zip
            rm -f sdkmanager.zip
            cd cmdline-tools
            mkdir latest
            mv -f -t latest bin lib NOTICE.txt source.properties
          fi
          
          sdk="${ANDROID_SDK_ROOT}/cmdline-tools/latest/bin/sdkmanager"
          
          yes | "$sdk" --licenses &> /dev/null
          "$sdk" --channel=3 platform-tools emulator 'system-images;android-CANARY;google_apis_ps16k;x86_64'

      - name: Emulator
        run: |
          cd "$ANDROID_USER_HOME"
          
          avd="${ANDROID_SDK_ROOT}/cmdline-tools/latest/bin/avdmanager"
          emulator="${ANDROID_SDK_ROOT}/emulator/emulator"
          PATH="$PATH:${ANDROID_PF_TOOLS}"

          adb devices
          adb kill-server
          adb start-server

          echo no | "$avd" create avd -f -n test -k 'system-images;android-CANARY;google_apis_ps16k;x86_64'
          sed -i 's:^target\s*=.*:target=android-CANARY:g' "$ANDROID_AVD_HOME/test.ini"
          
          coresC="$( nproc )"
          if [[ "$coresC" -gt 8 ]]; then coresC=8; fi
          $emulator @test -no-window -no-audio -no-boot-anim -gpu swiftshader_indirect -read-only -no-snapshot -cores "$coresC" -memory 8192 -port 5566 -no-metrics &
          sleep 120 # secs, startup takes about 2 minutes

      - name: adb or not to b
        run: |
          PATH="$PATH:${ANDROID_PF_TOOLS}"
          cd "$GITHUB_WORKSPACE"
          
          adb wait-for-device shell "getprop" > canary.props
          cat canary.props

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          compression-level: 9
          name: canary
          path: canary.props
